/* Pour l'image en background */
.image-container-about {
  position: relative;
  background-image: url("../../../../public/images/about_us/apropos.png");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 45rem;
}

.image-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Pour les icon svg */
.icon-circle {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0 3px;
  transition: background-color 0.3s ease;
}

.icon-circle:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.icon {
  fill: white;
  width: 15px;
  height: 15px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .image-container-about {
    height: 25rem;
  }
  
  .justify {
    text-align: left;
  }
}

/* Card styling */
.card {
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: translateY(-5px);
}