/* Navigation Link Styles  - for header.js*/
  .nav-link {
    color: #ffffff !important;
  }
  
  .nav-link-custom {
    position: relative;
    transition: color 0.3s;
    font-size: larger;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
  }
  
  /* Underline animation for nav links */
  .nav-link-custom::after {
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    background-color: white;
    bottom: -7.5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s;
  }
  
  .nav-link-custom:hover::after,
  .nav-link-custom.active::after {
    width: 100%;
  }

  /* Responsive Styles*/
    @media (max-width: 1199px) {
      .nav-link-custom:hover::after,
      .nav-link-custom.active::after{
        width: 0%;
      }
      
    }
  
/* Circle Language Toggle Button */
  .btn-circle {
    border-radius: 50% !important;
    background-color: black;
    color: white !important;
    width: 40px;
    height: 40px;
    border: none !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
  }
  
  .btn-circle:hover {
    opacity: 0.8;
  }
  
/* Dropdown Menu Styles */
  .dropdown-item-custom {
    background-color: white;
    color: black;
    transition:
     background-color 0.3s,
     color 0.3s;
    font-family: "Open Sans", sans-serif;
  }
  
  .nav-link-custom .dropdown-item-custom:hover {
    background-color: blue;
    color: white;
  }
  
/* Styles spécifiques pour la promenade - */
.nav-link-custom-promenade {
  position: relative;
  transition: color 0.3s;
  font-family: "Open Sans", sans-serif;
  font-size: larger;
  font-weight: bold;
  margin-right: 15px;
  padding: 10px 5px;
}

.nav-link-custom-promenade::after {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  background-color: white;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.nav-link-custom-promenade:hover::after,
.nav-link-custom-promenade.active::after {
  width: 100%;
}

@media (max-width: 768px) {
  .nav-link-custom-promenade.active::after,
  .nav-link-custom-promenade:hover::after {
    width: 0%;
  }
}
  
/* For Rent Image Positioning */
  .a-louer {
    position: absolute;
    top: 15px;
    left: 73%;
    z-index: 1000;
    transition: transform 0.3s ease;
    overflow: hidden;
  }

  .a-louer:hover{
    transform: translateY(-5px);
  }
  
  /* Responsive for _ForRent image **/
    @media (min-width: 1200px) and (max-width: 1600px) {
      .nav-link .a-louer {
        left: 80% !important;
      }
    }




  
  