.black {
  color: #000000;
}
.bg-black {
  background-color: #000000;
}

.blue {
  color: #0056a7;
}
.bg-blue {
  background-color: #0056a7;
}

.white {
  color: #ffffff;
}

.bg-gray {
  background-color: #d9d9d9;
}
.uppercase {
  text-transform: uppercase;
}

.justify {
  text-align: justify;
}

.custom_text-family {
  font-family: "Open Sans", sans-serif !important;
}

/* Media query pour appareils mobiles */
@media (max-width: 768px) {
  .image-query {
    height: 15rem !important; /* La hauteur sera automatiquement ajustée sur les mobiles */
    max-width: 100% ;
  }
}
@media (min-width:768px) and (max-width: 992px) {
  .image-query {
    height: 20rem !important; /* La hauteur sera automatiquement ajustée sur les mobiles */
    max-width: 100% ;
  }
}

/* custom mon card link */
.custom-card-link {
  color: inherit; /* Utiliser la couleur héritée du parent */
  text-decoration: none; /* Enlever la décoration de texte */
}

.custom-card-link:hover {
  color: inherit; /* Utiliser la couleur héritée du parent lors du survol */
  text-decoration: none; /* Enlever la décoration de texte lors du survol */
}

.nowrap {
  white-space: nowrap;
}
@media (max-width: 576px) {
  .nowrap {
    white-space: normal !important;
  }
}

/* For residential.js et promenade.js */
.icons {
  display: flex;
  justify-content: space-between;
  
}

/* For page ForResidentiel.js etc. */
.full-width-image {
  width: 100%;
  height: auto;
}

.second-carousel {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
}

.second-carousel .image-containers {
  flex: 0 0 auto;
  width: 100px; /* Adjust the width as needed */
  margin-right: 10px;
  transition: filter 0.3s ease;
}

.second-carousel .image-containers img {
  width: 100%;
  border: 1px solid transparent;
}

.second-carousel .image-containers.active img {
  border: 2px solid blue; /* Highlight active image */
}

.second-carousel .image-containers.inactive img {
  filter: blur(0.8px); /* Blur inactive images */
}

.icon-1 {
  width: 50px;
  height: 50px;
}

.icon-2 {
  width: 35px;
  height: 35px;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
