/**************************FOR LAZY SPIN*****************************/
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/********************      Colors     **********************************/
.black {
  color: #000000;
}
.bg-black {
  background-color: #000000;
}

.blue {
  color: #0056a7;
}
.bg-blue {
  background-color: #0056a7;
}

.white {
  color: #ffffff;
}

.bg-gray {
  background-color: #d9d9d9;
}

.bg-red {
  background-color: #e42526 !important; 
}

/*************************        *****************************/
.uppercase {
  text-transform: uppercase;
}

.justify {
  text-align: justify;
}

.custom_text-family {
  font-family: "Open Sans", sans-serif !important;
}

/******************* Media query pour appareils mobiles *************************/
@media (max-width: 768px) {
  .image-query {
    height: 15rem !important; /* La hauteur sera automatiquement ajustée sur les mobiles */
    max-width: 100% ;
  }
}
@media (min-width:768px) and (max-width: 992px) {
  .image-query {
    height: 20rem !important; /* La hauteur sera automatiquement ajustée sur les mobiles */
    max-width: 100% ;
  }
}

/* custom mon card link */
.custom-card-link {
  color: inherit; /* Utiliser la couleur héritée du parent */
  text-decoration: none; /* Enlever la décoration de texte */
}

.custom-card-link:hover {
  color: inherit; /* Utiliser la couleur héritée du parent lors du survol */
  text-decoration: none; /* Enlever la décoration de texte lors du survol */
}

.nowrap {
  white-space: nowrap;
}
@media (max-width: 576px) {
  .nowrap {
    white-space: normal !important;
  }
}

/* For page ForResidentiel.js et les autres properties etc. */
.second-carousel {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
}

.second-carousel .image-containers {
  flex: 0 0 auto;
  width: 100px; /* Adjust the width as needed */
  margin-right: 10px;
  transition: filter 0.3s ease;
}

.second-carousel .image-containers img {
  width: 100%;
  border: 1px solid transparent;
}

.second-carousel .image-containers.active img {
  border: 2px solid blue; /* Highlight active image */
}

.second-carousel .image-containers.inactive img {
  filter: blur(0.8px); /* Blur inactive images */
}


/******* For residentiel.js  commercial.js industriel.js  terain.js****/ 
.property-card {
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.property-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

